* {
    margin: 0;
  }
  @keyframes entering{
    from{opacity: 0;
    transform: translatey(-200px);
    }
    to{opacity: 1;
    transform: translatey(0);
    }
}
  
  html,
  body {
    --black: hsl(0, 0%, 0%);
    --grey: hsl(240, 9%, 89%);
  
    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    display: grid;
    place-items: center;
  }
  
  main {
  background-image: url(./images/espaco.jpg);



    width: 375px;
    height: 812px;
  }
  
  .container {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
    color: var(--grey);
    
  
  }
  
  .avatar {
    width: 10rem;
    margin: 11.5rem auto 0;
  
    position: relative;
  
  }
  
  .avatar span {
    position: absolute;
    top: -15px;
    z-index: 1;
  }
  
  .avatar > img {
    width: 10rem;
    height: 12rem;
    object-fit: cover;
  
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    animation: entering 2s ease-in-out;
  }
  
  h1 {
    font-size: 1.5rem;
  
    margin-top: 1.5rem;
  }
  
  a {
    color: var(--grey);
    text-decoration: none;
  
    margin-top: 0.25rem;
  
    display: flex;
    gap: 0.75rem;
  
    justify-content: center;
    align-items: center;
  }
  
  p {
    margin-top: 2rem;
  }
  
  ul {
    margin-top: 4rem;
  
    list-style: none;
    padding: 0;
  
    display: flex;
    gap: 0.5rem;
  
    justify-content: center;
  }

.githubb {
    animation: entering 2s ease-in-out;
    padding: 1px;
}

.bio {
    margin: auto;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}